.App {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  padding: 3em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.joinees{
  background: white;
  /* height: 450px; */
  align-self: flex-start;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.chatsSection{
  background: white;
  height: 450px;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.chats{
  height: 80%;
  border: 1px solid black;
  overflow: hidden scroll;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.me,.other {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.other{
  width: fit-content;
  background: rgb(221, 221, 221);
  margin-right: 100%;
  align-self: flex-start;
}
.me{
  width: fit-content;
  align-self: flex-end;
  background: rgb(15, 192, 68);
}

.chatsSection > h3, .joinees >h3{
  text-align: center;
  border-bottom: 1px solid;
}
.chatsSection input{
  width: 100%;
  border: 1px dashed grey;
  padding: 10px;
}

.senderName {
  font-weight: bold;
  margin-bottom: 1px;
  text-decoration: underline;
}

.messageText {
  margin-top: 5px;
}

.send{
  display: flex;
}
.send > button{
  background: transparent;
  border: 1px solid grey;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .App {
    /* flex-direction: column; */
    display: block;
    text-align: center;
  }
  .joinees{
    width: fit-content;
    height: fit-content;
  }

  .chatsSection{
    margin: 2% auto;
    width: 90%;
  }
}


.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: black;
  color: white;
}


h1 {
  margin-bottom: 1rem;
  text-align: center;
}


input {
  margin: 0 5px;
}
canvas{
  border-radius: 10px;
}


span {
  font-size: 1.3em;
}




@media screen and (max-width: 600px) {
  .tools {
      flex-direction: column;
      align-items: start;
  }


}